ubuntu-bionic-18.04-cloudimg-console.log
bin/*
scripts/log.txt
organizations
channel-artifacts
system-genesis-block
vagrant/.vagrant
scripts/cc.env.sh
scripts/get-cc-installed
scripts/get-cc-info
*.tar.gz
chaincode/bin/*
chaincode/pkg/*
chaincode/src/github.com
chaincode/src/golang.org
